<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chaoxuan.zeus.dao.FitRuleMapper">
    <resultMap id="BaseResultMap" type="org.chaoxuan.zeus.model.FitRule">
        <!--
        @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="task" jdbcType="VARCHAR" property="task"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
        @mbggenerated
        -->
        id, title, version, city, description,task
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
        @mbggenerated
        -->
        select
        <include refid="Base_Column_List"/>
        from t_fit_rule
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
        @mbggenerated
        -->
        delete from t_fit_rule
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.chaoxuan.zeus.model.FitRule">
        <!--
        @mbggenerated
        -->
        insert into t_fit_rule (id, title, version,
        city, description)
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},#{task,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.chaoxuan.zeus.model.FitRule" useGeneratedKeys="true"
            keyProperty="id">
        <!--
        @mbggenerated
        -->
        insert into t_fit_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="task != null">
                task,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="task != null">
                #{task,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.chaoxuan.zeus.model.FitRule">
        <!--
        @mbggenerated
        -->
        update t_fit_rule
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="task != null">
                task = #{task,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.chaoxuan.zeus.model.FitRule">
        <!--
        @mbggenerated
        -->
        update t_fit_rule
        set title = #{title,jdbcType=VARCHAR},
        version = #{version,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        task = #{task,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="queryBy" parameterType="org.chaoxuan.zeus.model.FitRule" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_fit_rule
        where 1=1
        <if test="title != null">
            and title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="version != null">
            and version = #{version,jdbcType=VARCHAR}
        </if>
        <if test="city != null">
            and city = #{city,jdbcType=VARCHAR}
        </if>
        <if test="description != null">
            and description = #{description,jdbcType=VARCHAR}
        </if>
        <if test="task != null">
            and task = #{description,jdbcType=VARCHAR}
        </if>
        order by version
    </select>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_fit_rule ORDER BY VERSION
    </select>
</mapper>